.post__reply{
    background-color: #D6DAF0;
    display: inline-block;
    padding: 3px 4px 7px 8px;
    margin: 4px;
    border-width: 1px;
    border-style: none solid solid;
    border-color: #B7C5D9;
    max-width: 98% !important;
}

.body{
    margin-left: 24px;
    margin-top: 10px;
    padding-right: 40px;
    padding-bottom: 4px;
}
.body span{
    margin: 0;

}
.reply__highlight{
    color: #d00;
    font-size: 10pt;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.link__highlight{
    color: #000;
    text-decoration: none;
}

.link__highlight:hover{
    color: #d00;
}

.reply__chevron{
    display: inline-block;
    padding-top: 8px;
    vertical-align: top;
    color: #b7c5d9;
    font-size: 12px;
    padding-left: 4px;
}

.reply__link{
    color: #34345C;
    font-size: 11px;
}

.reply__link:hover{
    color: #d00;
}