.grid__block{
    border: 2px solid rgb(242, 161, 11);
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__row{
    text-align: center;
    display: flex;
}

.grid__row div{
    border-right: none;
    border-bottom: none;
}

.grid__row div:last-child{
    border-right: 2px solid rgb(242, 161, 11);
}

.bottom_level{
    border-bottom: 2px solid rgb(242, 161, 11);
}
